<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>
<body>
    <div  id="app">
        <div class="row">
                <el-container>
                        <el-header>
                        </el-header>
                <el-container>
                    <el-aside width="200px">

                    </el-aside>
                    <el-container>
                    <el-main>
                            <div name="search_bar" class="box">
                                <el-row :gutter="10">
                                    <el-col :xs="8"  :lg="2" v-if="show_keys">
                                            <el-popover
                                            placement="right"
                                            trigger="click">
                                            <el-transfer v-model="show_keys" :data="tableHeadData" :titles="title" style="text-align: left; display: inline-block"
                                            :button-texts="['显示', '隐藏']"
                                            :format="{
                                                noChecked: '${total}',
                                                hasChecked: '${checked}/${total}'
                                            }"
                                            @change="handleChange">
                                            </el-transfer>
                                            <el-button slot="reference">自定义表单显示</el-button>
                                            </el-popover>
                                        </el-col>
                                    <el-col :xs="24" :lg="4" v-if="tableHeadData[0].isShow">
                                        <el-input placeholder="姓名" v-model="input" style="float: right;" clearable>
                                        </el-input>
                                    </el-col>
                                    <el-col :xs="24" :lg="4" v-if="tableHeadData[1].isShow">
                                        <label>性别:</label>
                                        <el-select v-model="sex" placeholder="请选择">
                                                <el-option
                                                  v-for="item in options"
                                                  :key="item.value"
                                                  :label="item.label"
                                                  :value="item.value">
                                                </el-option>
                                    </el-col>
                                    <el-col :xs="24":lg="4" v-if="tableHeadData[2].isShow">
                                        <el-input placeholder="出生日期" v-model="input" clearable>
                                            </el-input>
                                    </el-col>
                                    <el-col :xs="24"  :lg="4" v-if="tableHeadData[3].isShow">
                                        <el-input placeholder="地址" v-model="input" clearable>
                                            </el-input>
                                    </el-col>
                                    <el-col :xs="24" :lg="4" v-if="tableHeadData[4].isShow">
                                            <el-input placeholder="联系方式" v-model="input" clearable>
                                                </el-input>
                                        </el-col>
                                    <el-col :xs="4"  :lg="2">
                                            <el-button type="primary" icon="el-icon-search">搜索</el-button>
                                        </el-col>
                                    </el-row>
                            </div>
                        <div class="box">
                            <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th v-for="item in tableHeadData" v-if="item.isShow">{{ item.label }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in tableData">
                                            <td v-for="field in tableHeadData" v-if="field.isShow" >{{ item[field.key] }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="box">
                                    <el-pagination
                                        background
                                        layout="prev, pager, next"
                                        :total="1000">
                                    </el-pagination>

                                </div>
                        </div>
                    </el-main>
                    <el-footer>
                        
                    </el-footer>
                    </el-container>
                </el-container>
                </el-container>
                </div>
        </div>
</body>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/element-ui/lib/index.js"></script>
<script src="./index.js"></script>
</html>